.header{
    width: 100%;
    height: 150px;
    background-color: dodgerblue;

}
h1{
    background-image: radial-gradient(black,blueviolet,goldenrod,darkslateblue,lawngreen,orange);
    -webkit-background-clip: text;
    font-size: x-large;
    font-weight: bold;
    color: transparent;
    text-align: center;
    font-family: "Lucida Calligraphy"

}
.anchor{
    text-decoration: none;
    font-size: x-large;
    color: white;
    font-weight: bold;
    justify-content: center;
}